depexts: [
  ["libgles2-mesa-dev"] {os-family = "debian"}
  ["libgles2-mesa-dev"] {os-family = "ubuntu"}
  ["mesa-libGLES-devel"] {os-family = "fedora"}
  ["mesa-libGLES-devel"] {os-family = "centos"}
  ["mesa-libGLES-devel"] {os-family = "rhel"}
  ["Mesa-libGLESv2-devel" "Mesa-libGLESv3-devel"] {os-family = "suse" | os-family = "opensuse"}
  ["mesa-dev"] {os-family = "alpine"}
  ["mesa"] {os-family = "arch"}
  ["mesa-libs"] {os = "freebsd"}
  # OpenBSD includes it in xbase.tgz
  ["MesaLib"] {os = "netbsd"}
  ["mesa"] {os = "macos"}
]
